# venv / python
.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

# data / datasets / downloads
data/
genimage_subset/
coco/
unsplash*/
*.zip
*.gz
*.tar
*.tar.gz
*.7z

# models / weights
*.pt
*.pth
*.onnx

# mac / editor
.DS_Store
.vscode/
.idea/
